

/* ==========================================================================
   Author's custom styles
   ========================================================================== */







body {
   color: #777;
}

h1,h2,h3,h4,h5 {
   color: black;
   margin: 15px 0 10px 0;
}

a {
   color: #888;
   text-decoration: underline;
}

a.active {
   font-weight: 500;
   color: black;
}

b {
   font-weight: 500;
   color: black;
}
.map-table {
   min-width: 600px;
   width: 100%;
}

@media (max-width: 640px) {
   .map-table { height: 300px; }
}

@media (min-width: 640px) and (max-width: 800px) {
   .map-table { height: 350px; }
}

@media (min-width: 800px) and (max-width: 1024px) {
   .map-table { height: 400px; }
}

@media (min-width: 1024px) {
   .map-table { height: 450px; }
}

.map-canvas, .legend-box, .legend-label, .legend-spacer {
   background-color: black;
   margin: 0;
   padding: 0;
   border: none;
}
.map-canvas {
   height: 100%;
   width: 90%;
   padding: 0;
}
.legend-spacer {
   width: 10px;
}
.legend-box {
   height: 11.11%;
   width: 20px;
   border: 1px solid #555;
   padding: 0;
}
.legend-label {
   font-size: 12px;
   text-align: left;
   padding: 5px;
   line-height: 110%;
}

.legend-box.lb1 { background-color: rgb(0, 70, 148); }
.legend-box.lb2 { background-color: rgb(51, 115, 181); }
.legend-box.lb3 { background-color: rgb(93, 149, 199); }
.legend-box.lb4 { background-color: rgb(147, 185, 219); }
.legend-box.lb5 { background-color: rgb(206, 221, 238); }
.legend-box.lb6 { background-color: rgb(255, 255, 255); }
.legend-box.lb7 { background-color: rgb(204, 204, 204); }

div.row.itemized-data {
   padding-top: 10px;
}

.itemized-data  {
   font-size: 12px;
}
.itemized-data td {
   padding: 4px !important;
}

.itemized-data td:first-child, .itemized-data th:first-child  {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   width : 160px;
   max-width: 160px;
}

.countryCaption { display: none; }

.jvectormap-tip {
   padding: 5px;
   min-width: 100px;
}

.jvectormap-tip li {
   margin-top: -3px;
   margin-left : -25px;
}

span.moreLangsToggle { display : none; }

.navbar li.share-icons {
   white-space: nowrap !important;
   margin-left: 15px;
}

.navbar li.share-icons a {
   display: inline-block;
   white-space: nowrap !important;
   margin-top: 7px;
   width: 32px;
   color: #fff;
}

div.popout {
   display: none;
}